article li {
  float: left;
}

article figure {
  margin: 0;
  margin-right: 15px;
}

article figcaption {
  font-size: 14px;
  line-height: 50px;
}

article ul {
  margin-top: 45px;
}

figure img {
  width: 363px;
  height: 265px;
}

.pagination {
  margin-top: 45px;
}

.pagination li {
  display: inline-block;
}

.pagination li.selected,
.pagination li button:hover {
  color: white;
  background: #014684;
}

.pagination li button {
  border: 1px solid #e5e5e5;
  padding: 0 10px;
  cursor: pointer;
  background: white;
  line-height: 34px;
}
