body {
  background: #f2f2f2;
}

li {
  list-style: none;
}

.clear-float:after {
  content: '';
  display: block;
  clear: both;
}

body > main {
  text-align: center;
}

body > main > h3 {
  background-color: #014684;
  color: white;
  width: 4.98rem;
  display: inline-block;
  font-size: 0.3rem;
  line-height: 0.46rem;
  border-radius: 0.23rem;
}

body > main > h4 {
  margin-top: 0;
  font-size: 0.2rem;
  color: #014684;
}

body > main img {
  width: 6.8rem;
}

body > main > p {
  font-size: 0.24rem;
  font-family: 'MicrosoftYaHeiLight';
  color: #6e6e6e;
  margin: 0 auto;
  display: inline-block;
  width: 6.16rem;
  height: 4.43rem;
  overflow: hidden;
}
