<html>
    <head>
        <base href="{$Request.domain}/_m/index/"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <script>
            document.documentElement.style.fontSize = Math.ceil(document.documentElement.clientWidth / 7.2) + "px";
            window.onresize = function () {
                document.documentElement.style.fontSize = Math.ceil(document.documentElement.clientWidth / 7.2) + "px";
            }
            function onChangeNavShow() {
                var nav = document.querySelector("body>header ul")
                nav.style.display = nav.style.display == "none"
                    ? "block"
                    : "none"
            }
        </script>
        <link rel="stylesheet" type="text/css" href="index.css"/>
    </head>
    <body>
        <header>牡丹江市宏达碳化硼有限公司<button onclick="onChangeNavShow()"><img src="/image/option.png"/></button>
            <nav>
                <ul style="display:none">
                    <li class="selected">
                        <a href="/m">首页</a>
                    </li>
                    <li>
                        <a href="/m/company_profile">公司简介</a>
                    </li>
                    <li>
                        <a href="/m/product_center">
                                产品中心</a>
                    </li>
                    <li>
                        <a href="/m/product_specification">产品规格</a>
                    </li>
                    <li>
                        <a href="/m/news_center">新闻中心</a>
                    </li>
                    <li>
                        <a href="/m/general_knowledge_encyclopedia">常识百科</a>
                    </li>
                    <li>
                        <a href="/m/honorary_qualification">荣誉资质</a>
                    </li>

                </ul>
            </nav>
        </header>
        <main>
            <img class="banner" src="banner.png"/>
            <section>
                <hgroup>
                    <h3>公司简介</h3>
                    <h4>Company Profile</h4>
                </hgroup>
                <img src="company-profile.png"/>
                <h3>牡丹江市宏达碳化硼有限公司</h3>
                <h4>Mudanjiang hongda boron carbide co. LTD  </h4>
                <p>       牡丹江市宏达碳化硼有限公司成立于1993年。是目前中国生产碳化硼的专业厂家，我厂为满足不同厂家的不同生产要求，在不断的求新，提升每名员工的素质，完善生产工艺。本厂技术力量雄厚，生产设备及生产工艺处于同行业的先进水平，确保产品质量，对于产品的质量、粒度都有现代化的设备仪器跟踪检查、检验，公司已顺利通过ISO9001：2000质量管理体系认证，依托雄厚的技术力量及先进的生产工艺，现已形成碳化硼产品500多吨的生产能力，为适应市场需求，提高产品参于竞争的能力，企业投入巨资，引进了世界上先进的生产技术，全面改造更新了生产工艺。改造后，工厂的产品质量跃居为同行业领先水平。并可根据国内外客户的要求生产加工特殊规格粒度的碳化硼。
      本厂以"质量第一，客户至上"的经营宗旨，热诚欢迎国内外客户光顾，淡谈业务。
      碳化硼是最硬的人造磨料之一，硬度仅次于金刚石，其硬度为9.36，研磨效率高，适用于各种硬质合金，宝石等材料的研磨、抛光、钻孔等加工，是金刚石的理想代用材料。
      碳化硼也是工程制品，耐火材料，特殊焊接的主要原料，可制成耐磨焊条、各种高级快速切削刀具和耐磨程度极高的磨具、喷砂嘴、密封环和精密量元件等。
      碳化硼比重2.52g/cm3.熔点2450度，耐高温与碱不起反应，具有吸收中子和半导体导电性质，是制造硼化钛等金属硼化物，硼钢和核工业中子吸收剂等不可缺少的材料。</p>
                <button class="more" onclick="location='/m/company_profile'">查看更多</button>
            </section>
            <section>
                <hgroup>
                    <h3>产品中心</h3>
                    <h4>Product Center</h4>
                </hgroup>
                <ul class="clear-float">
                    <foreach name="product_centers" item="data">
                        <li onclick="location='/m/product_center/{$data.id}'"><img src="/image/{$data.image_uri}"/>
                            <div>{$data.name}</div>
                        </li>
                    </foreach>
                    <!--
                    <li><img src="product.png"/>
                        <div>10kg箱装</div>
                    </li>
                    <li><img src="product.png"/>
                        <div>10kg箱装</div>
                    </li>
                    <li><img src="product.png"/>
                        <div>10kg箱装</div>
                    </li>
                    <li><img src="product.png"/>
                        <div>10kg箱装</div>
                    </li>
                    <li><img src="product.png"/>
                        <div>10kg箱装</div>
                    </li>
                    <li><img src="product.png"/>
                        <div>10kg箱装</div>
                    </li>
                    -->
                </ul>
                <button class="more" onclick="location='/m/product_center'">查看更多</button>
            </section>
            <section>
                <hgroup>
                    <h3>常识百科</h3>
                    <h4>General Knowledge Encyclopedia</h4>
                </hgroup>
                <div class="banner">
                    <img src="s3-left-top.png"/>
                    <img src="s3-left-bottom.png"/>
                    <img src="s3-right.png"/>
                </div>

                <h6>{$general_knowledge_encyclopedia.name}</h6>
                <main>{$general_knowledge_encyclopedia.description}</main>
                <button class="more" onclick="location='/m/general_knowledge_encyclopedia'">查看更多</button>
            </section>
            <section>
                <hgroup>
                    <h3>新闻中心</h3>
                    <h4>News Center</h4>
                </hgroup>
                <ul>
                    <foreach name="news_centers" item="data">
                        <li class="clear-float" onclick="location='/m/news_center/{$data.id}'">
                            <div class="time">
                                <div>{:explode('-',explode(' ',$data.created_at)[0])[2]}</div>{:explode('-',explode(' ',$data.created_at)[0])[0]}-{:explode('-',explode(' ',$data.created_at)[0])[1]}</div>
                            <h6>{$data.name}</h6>
                            <div class="content">{$data.description}</div>
                        </li>
                    </foreach>
                    <!--
                    <li class="clear-float">
                        <div class="time">
                            <div>10</div>2019-10</div>
                        <h6>碳化硼在耐火材料中的应用</h6>
                        <div class="content">碳化硼主要用于含碳耐火材料中起抗氧化作用可以使产品致密化阻止含碳耐火材料中碳的氧化同时在℃～℃的时候，与发生反应，生成的柱状晶体，
分布在耐火材料的基质和间隙里，从而降低气孔率，提高中温强度，且生成的晶体，体积膨胀，可愈合体积收缩，减少裂纹。</div>
                    </li>
                    <li class="clear-float">
                        <div class="time">
                            <div>10</div>2019-10</div>
                        <h6>碳化硼在耐火材料中的应用</h6>
                        <div class="content">碳化硼主要用于含碳耐火材料中起抗氧化作用可以使产品致密化阻止含碳耐火材料中碳的氧化同时在℃～℃的时候，与发生反应，生成的柱状晶体，
分布在耐火材料的基质和间隙里，从而降低气孔率，提高中温强度，且生成的晶体，体积膨胀，可愈合体积收缩，减少裂纹。</div>
                    </li>
                    <li class="clear-float">
                        <div class="time">
                            <div>10</div>2019-10</div>
                        <h6>碳化硼在耐火材料中的应用</h6>
                        <div class="content">碳化硼主要用于含碳耐火材料中起抗氧化作用可以使产品致密化阻止含碳耐火材料中碳的氧化同时在℃～℃的时候，与发生反应，生成的柱状晶体，
分布在耐火材料的基质和间隙里，从而降低气孔率，提高中温强度，且生成的晶体，体积膨胀，可愈合体积收缩，减少裂纹。</div>
                    </li>
                    <li class="clear-float newest">
                        <div class="time">
                            <div>10</div>2019-10</div>
                        <h6>碳化硼在耐火材料中的应用</h6>
                        <div class="content">碳化硼主要用于含碳耐火材料中起抗氧化作用可以使产品致密化阻止含碳耐火材料中碳的氧化同时在℃～℃的时候，与发生反应，生成的柱状晶体，
分布在耐火材料的基质和间隙里，从而降低气孔率，提高中温强度，且生成的晶体，体积膨胀，可愈合体积收缩，减少裂纹。</div>
                    </li>
                    -->
                </ul>
                <button class="more" onclick="location='/m/news_center'">查看更多</button>
            </section>
        </main>
        <footer>
            <img src="phone-number.png"/>
            <dl>
                <div class="clear-float">
                    <dt ><img src="/image/fax.png"/></dt>
                    <dt>传真</dt>
                    <dd>0453-6889078 </dd>
                </div>
                <div class="clear-float">
                    <dt class="clear-float"><img src="/image/qq.png"/></dt>
                    <dt>QQ号</dt>
                    <dd>28619270 </dd>
                </div>
                <div class="clear-float">
                    <dt class="clear-float"><img src="/image/contact.png"/></dt>
                    <dt>联系人</dt>
                    <dd>侯经理 </dd>
                </div>
                <div class="clear-float">
                    <dt class="clear-float"><img src="/image/website.png"/></dt>
                    <dt>网址</dt>
                    <dd>www.hdthp.com </dd>
                </div>
                <div class="clear-float">
                    <dt class="clear-float"><img src="/image/mail.png"/></dt>
                    <dt>邮箱</dt>
                    <dd>663814@qq.com</dd>
                </div>
                <div class="clear-float">
                    <dt class="clear-float"><img src="/image/mail.png"/></dt>
                    <dt>邮箱</dt>
                    <dd>mdjhdthp@163.com</dd>
                </div>
            </dl>
            <p>版权所有：牡丹江宏达碳化硼  技术支持：牡丹江艺通网络</p>
        </footer>
    </body>
</html>