<!DOCTYPE html>
<html>
    <head>
        <base href="{$Request.domain}/contact-us/"/>
        <meta name="viewport" content="width=1920px, initial-scale=4.0">
        <link rel='stylesheet' type='text/css' href="/app.css"/>
        <link rel='stylesheet' type='text/css' href="/second.css"/>
        <link rel='stylesheet' type='text/css' href="contact-us.css"/>

    </head>
    <body>
        <header>
            <div class="clear-float">
                <h1>牡丹江市宏达碳化硼有限公司</h1>
                <nav>
                    <ul class="clear-float">
                        <li class="selected">
                            <a href="/contact_us">联系我们</a>
                        </li>
                        <li>
                            <a href="/honorary_qualification">荣誉资质</a>
                        </li>
                        <li>
                            <a href="/general_knowledge_encyclopedia">常识百科</a>
                        </li>
                        <li>
                            <a href="/news_center">新闻中心</a>
                        </li>
                        <li>
                            <a href="/product_specification">产品规格</a>
                        </li>
                        <li>
                            <a href="/product_center">
                                产品中心</a>
                        </li>
                        <li>
                            <a href="/company_profile">公司简介</a>
                        </li>
                        <li >
                            <a href="/">网站首页</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main >
            <div>
                <img class="banner" src="banner.png"/>
                <address><img src="/image/location.png"/>地 址：黑龙江省牡丹江市爱民区北安路191号</address>
                <div class="mobilephone">13091859655</div>
                <dl class="clear-float">
                    <div>
                        <dt><img src="fax.png"/></dt>
                        <dt>传真</dt>
                        <dd>
                        0453-6889078</dd>
                    </div>
                    <div>
                        <dt>
                            <img src="qq.png"/></dt>
                        <dt>QQ号</dt>

                        <dd>28619270</dd>
                    </div>
                    <div>
                        <dt><img src="contact.png"/></dt>
                        <dt>联系人</dt>
                        <dd>侯经理</dd>
                    </div>
                    <div>
                        <dt><img src="website.png"/></dt>
                        <dt>网址</dt>
                        <dd>www.hdthp.com</dd>
                    </div>
                    <div>
                        <dt><img src="mail.png"/></dt>
                        <dt>邮箱</dt>
                        <dd>663814@qq.com</dd>
                        <dd>mdjhdthp@163.com</dd>
                    </div>
                </dl>
            </div>
        </main>
        <footer>
            <div >
                <ul>
                    <li class="clear-float"><img src="/image/fax.png"/>
                        <span>传真：0453-6889078 </span></li>
                    <li class="clear-float"><img src="/image/qq.png"/>
                        <span>QQ号：28619270 </span></li>
                    <li class="clear-float"><img src="/image/contact.png"/>
                        <span>联系人：侯经理 </span></li>
                    <li class="clear-float"><img src="/image/website.png"/>
                        <span>网址：www.hdthp.com </span></li>
                    <li class="clear-float"><img src="/image/mail.png"/>
                        <span>邮箱：663814@qq.com ,mdjhdthp@163.com</span></li>
                </ul>

                <div>
                    <div class="mobilephone">13091859655</div>
                    <div>欢迎拨打咨询热线</div>
                    <div> 工作时间：8：00 - 22：00 </div>
                </div>

                <div class="wechat-consult">
                    <img src="/image/wechat-qrcode.png"/>
                    <div>
                        <img src="/image/wechat.png"/>
                        <p>微信咨询</p>
                        <p>微信扫一扫咨询</p>
                    </div>
                </div>
            </div>
            <div>版权所有©黑龙江省牡丹江宏达碳化硼 　技术支持：艺通网络</div>
        </footer>
    </body>
</html>