<html>
  <head>
    <base href="{$Request.domain}/index/"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href="/app.css"/>
    <link rel='stylesheet' type='text/css' href="index.css"/>
  </head>
  <body>
    <header >
      <div class="clear-float">
        <h1>牡丹江市宏达碳化硼有限公司</h1>
        <nav>
          <ul class="clear-float">
            <li>
              <a href="/contact_us">联系我们</a>
            </li>
            <li>
              <a href="/honorary_qualification">荣誉资质</a>
            </li>
            <li>
              <a href="/general_knowledge_encyclopedia">常识百科</a>
            </li>
            <li>
              <a href="/news_center">新闻中心</a>
            </li>
            <li>
              <a href="/product_specification">产品规格</a>
            </li>
            <li>
              <a href="/product_center">
                                产品中心</a>
            </li>
            <li>
              <a href="/company_profile">公司简介</a>
            </li>
            <li class="selected">
              <a href="/">网站首页</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <main style="margin-top:0;display:block">
      <aside class="next">

        <img src="next.png"/></aside>

      <aside class="indicator">
        <map name="indicator" id="indicator">
          <area shape="circle" coords="85,30,10" href="#"/>
          <area shape="circle" coords="35,85,10" href="#"/>
          <area shape="circle" coords="5,155,10" href="#"/>
          <area shape="circle" coords="5,225,10" href="#"/>
          <area shape="circle" coords="35,300,10" href="#"/>
          <area shape="circle" coords="85,350,10" href="#"/>
        </map>
        <img class="pointer" style="transform: rotate(92deg)" src="pointer.png"/>
        <img src="clock-dial.png" usemap="#indicator"/>

        <img class="current" style="left:75px;top:25px" src="current.png"/></aside>
      <section >

        <img src="index-1.png" class="banner"/>

        <div class="center left"><img style="transform:translateY(100%)" src="index-1-left.png"/></div>
        <div class="right"><img style="transform:translateX(100%)" src="index-1-right.png"/></div>
      </section>
      <section >
        <img src="index-2.png" class="banner"/>
        <div class="center container">
          <h3>Mudanjiang hongda boron carbide co. LTD  </h3>
          <h2>牡丹江市宏达碳化硼有限公司</h2>
          <img class="left" style="transform:rotateY(180deg)" src="index-2-left.png"/>
          <div style="opacity:0" class="content">       牡丹江市宏达碳化硼有限公司成立于1993年。是目前中国生产碳化硼的专业厂家，我厂为满足不同厂家的不同生产要求，在不断的求新，提升每名员工的素质，完善生产工艺。本厂技术力量雄厚，生产设备及生产工艺处于同行业的先进水平，确保产品质量，对于产品的质量、粒度都有现代化的设备仪器跟踪检查、检验，公司已顺利通过ISO9001：2000质量管理体系认证，依托雄厚的技术力量及先进的生产工艺，现已形成碳化硼产品500多吨的生产能力，为适应市场需求，提高产品参于竞争的能力，企业投入巨资，引进了世界上先进的生产技术，全面改造更新了生产工艺。改造后，工厂的产品质量跃居为同行业领先水平。并可根据国内外客户的要求生产加工特殊规格粒度的碳化硼。
      本厂以"质量第一，客户至上"的经营宗旨，热诚欢迎国内外客户光顾，淡谈业务。
      碳化硼是最硬的人造磨料之一，硬度仅次于金刚石，其硬度为9.36，研磨效率高，适用于各种硬质合金，宝石等材料的研磨、抛光、钻孔等加工，是金刚石的理想代用材料。
      碳化硼也是工程制品，耐火材料，特殊焊接的主要原料，可制成耐磨焊条、各种高级快速切削刀具和耐磨程度极高的磨具、喷砂嘴、密封环和精密量元件等。
      碳化硼比重2.52g/cm3.熔点2450度，耐高温与碱不起反应，具有吸收中子和半导体导电性质，是制造硼化钛等金属硼化物，硼钢和核工业中子吸收剂等不可缺少的材料。</div>
          <img class="more" src="index-2-more.png"/>
        </div>
      </section>
      <section>
        <img src="index-3.png" class="banner"/>
        <div class="center container clear-float">
          <img class="title" src="index-3-title.png"/>
          <ul>
            <li><img src="index-3-product.png"/>
              <div>10kg箱装</div>
            </li>
            <li><img src="index-3-product.png"/>
              <div>10kg箱装</div>
            </li>
            <li><img src="index-3-product.png"/>
              <div>10kg箱装</div>
            </li>
          </ul>
          <img  src="index-3-more.png"/>
        </div>
      </section>
      <section >
        <img src="index-4.png" class="banner"/>
        <div class="container center">
          <img  src="index-4-title.png"/>
          <h4>碳化硼在各行业的的应用</h4>
          <p>耐火材料、国防工业、工程陶瓷材料、普通工业、电性能应用、作为化学原料的应用、蓝宝石晶片（LED）、军火工业、化工、航空、航天、核工业领域等很多工业中应用。<br/>
                    碳化硼（boron carbide ），别名黑钻石，分子式为B₄C，通常为灰黑色微粉。是已知最坚硬的三种材料之一（其他两种为金刚石、立方相氮化硼），用于坦克车的装甲、避弹衣和很多工业应用品中。它的摩氏硬度为9.3。</p>
          <img  src="index-3-more.png"/>
        </div>
      </section>
      <section>
        <img src="index-5.png" class="banner"/>
        <div class="container center">
          <img  src="index-5-title.png"/>
          <ul class="clear-float">
            <li class="clear-float">
              <div class="time">
                <div>10</div>2019-10</div>
              <h5>碳化硼在耐火材料中的应用</h5>
              <div class="content">碳化硼主要用于含碳耐火材料中起抗氧化作用可以使产品致密化阻止含碳耐火材料中碳的氧化同时在℃～℃的时候，与发生反应，生成的柱状晶体，
分布在耐火材料的基质和间隙里，从而降低气孔率，提高中温强度，且生成的晶体，体积膨胀，可愈合体积收缩，减少裂纹。</div>
            </li>
            <li class="clear-float">
              <div class="time">
                <div>10</div>2019-10</div>
              <h5>碳化硼在耐火材料中的应用</h5>
              <div class="content">碳化硼主要用于含碳耐火材料中起抗氧化作用可以使产品致密化阻止含碳耐火材料中碳的氧化同时在℃～℃的时候，与发生反应，生成的柱状晶体，
分布在耐火材料的基质和间隙里，从而降低气孔率，提高中温强度，且生成的晶体，体积膨胀，可愈合体积收缩，减少裂纹。</div>
            </li>
            <li class="clear-float">
              <div class="time">
                <div>10</div>2019-10</div>
              <h5>碳化硼在耐火材料中的应用</h5>
              <div class="content">碳化硼主要用于含碳耐火材料中起抗氧化作用可以使产品致密化阻止含碳耐火材料中碳的氧化同时在℃～℃的时候，与发生反应，生成的柱状晶体，
分布在耐火材料的基质和间隙里，从而降低气孔率，提高中温强度，且生成的晶体，体积膨胀，可愈合体积收缩，减少裂纹。</div>
            </li>
            <li class="clear-float newest">
              <div class="time">
                <div>10</div>2019-10</div>
              <h5>碳化硼在耐火材料中的应用</h5>
              <div class="content">碳化硼主要用于含碳耐火材料中起抗氧化作用可以使产品致密化阻止含碳耐火材料中碳的氧化同时在℃～℃的时候，与发生反应，生成的柱状晶体，
分布在耐火材料的基质和间隙里，从而降低气孔率，提高中温强度，且生成的晶体，体积膨胀，可愈合体积收缩，减少裂纹。</div>
            </li>
          </ul>
          <img  src="index-3-more.png"/>
        </div>
      </section>
      <section>
        <img src="index-6.png" class="banner"/>
        <div class="center container">

          <img  src="index-6-title.png"/>
          <div><img src="qr-code.png"/>
            <h6>扫描关注手机网站</h6>
          </div>
          <ul>
            <li>13091859655</li>
            <li class="clear-float"><img src="index-6-icon1.png"/>
              <span>传真：0453-6889078 </span></li>
            <li class="clear-float"><img src="index-6-icon2.png"/>
              <span>QQ号：28619270 </span></li>
            <li class="clear-float"><img src="index-6-icon3.png"/>
              <span>联系人：侯经理 </span></li>
            <li class="clear-float"><img src="index-6-icon4.png"/>
              <span>网址：www.hdthp.com </span></li>
            <li class="clear-float"><img src="index-6-icon5.png"/>
              <span>邮箱：663814@qq.com</span></li>
            <li class="clear-float"><img src="index-6-icon5.png"/>
              <span>邮箱：mdjhdthp@163.com</span></li>
          </ul>
        </div>
        <div class="address">
          <address><img src="Index-6-location.png"/>地 址：黑龙江省牡丹江市爱民区北安路191号</address>
        </div>
      </section>
    </main>
    <script>
      var hasVisited = [
        1,
        0,
        0,
        0,
        0,
        0,
        0,
        1
      ]
      var indicatorStyle = [
        null,
        [
          "92",
          [
            "75", "20"
          ]
        ],
        [
          "70",
          [
            "25", "75"
          ]
        ],
        [
          "45",
          [
            "-5", "145"
          ]
        ],
        [
          "24",
          [
            "-5", "215"
          ]
        ],
        [
          "0",
          [
            "25", "290"
          ]
        ],
        [
          "-22",
          [
            "75", "340"
          ]
        ]
      ]
      var main = document.querySelector("main")
      var nextIcon = document.querySelector("aside.next")
      var pointerIcon = document.querySelector(".pointer")
      var currentIcon = document.querySelector(".current")
      var current = 1
      var duration = false
      function showTransition() {
        console.log("current")
        console.log(current)
        if (hasVisited[current]) 
          return
        if (document.querySelector("section:nth-of-type(" + current + ")").className.indexOf("visited") == -1) 
          document
            .querySelector("section:nth-of-type(" + current + ")")
            .className += "visited"
        switch (current) {
          case 1:
            document
              .querySelector("section:nth-of-type(1) .left img")
              .setAttribute("style", "transform:translateY(0%)")
            document
              .querySelector("section:nth-of-type(1) .right img")
              .setAttribute("style", "transform:translateX(0%)")
            break
          case 2:
            document
              .querySelector("section:nth-of-type(2) .left")
              .setAttribute("style", "transform:rotateY(0deg)")
            document
              .querySelector("section:nth-of-type(2) .content")
              .setAttribute("style", "opacity:1")
            break
        }
        hasVisited[current] = 1
      }

      function getIEVersion() {
        var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
        var isIE = userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1; //判断是否IE<11浏览器
        var isEdge = userAgent.indexOf("Edge") > -1 && !isIE; //判断是否IE的Edge浏览器
        var isIE11 = userAgent.indexOf('Trident') > -1 && userAgent.indexOf("rv:11.0") > -1;
        if (isIE) {
          var reIE = new RegExp("MSIE (\\d+\\.\\d+);");
          reIE.test(userAgent);
          var fIEVersion = parseFloat(RegExp["$1"]);
          if (fIEVersion == 7) {
            return 7;
          } else if (fIEVersion == 8) {
            return 8;
          } else if (fIEVersion == 9) {
            return 9;
          } else if (fIEVersion == 10) {
            return 10;
          } else {
            return 6; //IE版本<=7
          }
        } else if (isEdge) {
          return -1 //return 'edge';//edge
        } else if (isIE11) {
          return 11; //IE11
        } else {
          return -1; //不是ie浏览器
        }
      }
      document
        .querySelectorAll("area")
        .forEach(function (item, index) {
          item.onclick = function (e) {
            e.preventDefault()
            onWheel(index)
          }
        })
      var version = getIEVersion()
      function onWheel(e) {
        var deviceHeight = version == -1
          ? window.innerHeight
          : document
          .documentElement
          .clientHeight
          console
          .log(version)
        if (duration) 
          return
        else {
          duration = true
          setTimeout(function () {
            console.log(hasVisited)
            var style = indicatorStyle[current]
            currentIcon.style.left = style[1][0] + "px"
            currentIcon.style.top = style[1][1] + "px"
            if (!hasVisited[current + 1]) 
              nextIcon.style.display = "block"
            duration = false
            showTransition()
          }, 1000)
        }
        // 98
        if (parseInt(e) >= 0) {
          current = e + 1
          main.style.marginTop = -e * deviceHeight + "px"
        } else if (e.deltaY > 0) {
          if (parseInt(main.style.marginTop) == -5 * deviceHeight) 
            return
          current += 1
          main.style.marginTop = (parseInt(main.style.marginTop) - deviceHeight) + "px"
        } else {
          if (parseInt(main.style.marginTop) == 0) 
            return
          current -= 1
          main.style.marginTop = (parseInt(main.style.marginTop) + deviceHeight) + "px"
        }
        pointerIcon.setAttribute("style", "transform:rotate(" + indicatorStyle[current][0] + "deg)")
        nextIcon.style.display = "none"
      }
      window.onload = showTransition

      if (version != -1) 
        window.addEventListener("wheel", onWheel)
      else 
        window.onwheel = onWheel
    </script>
  </body>
</html>