<html>
    <head>
        <base href="{$Request.domain}/{$dir}"/>
        <meta name="viewport" content="width=1920px, initial-scale=4.0">
        <link rel='stylesheet' type='text/css' href="/app.css"/>
        <link rel='stylesheet' type='text/css' href="/second.css"/>
        <link rel='stylesheet' type='text/css' href="news-center.css"/>

    </head>
    <body>
        <header>
            <div class="clear-float">
                <h1>牡丹江市宏达碳化硼有限公司</h1>
                <nav>
                    <ul class="clear-float">
                        <li>
                            <a href="/contact_us">联系我们</a>
                        </li>
                        <li class="{$name[0]=='荣誉资质'?='selected'}">
                            <a href="/honorary_qualification">荣誉资质</a>
                        </li>
                        <li class="{$name[0]=='尝试百科'?='selected'}">
                            <a href="/general_knowledge_encyclopedia">常识百科</a>
                        </li>
                        <li class="{$name[0]=='新闻中心'?='selected'}">
                            <a href="/news_center">新闻中心</a>
                        </li>
                        <li class="{$name[0]=='产品规格'?='selected'}">
                            <a href="/product_specification">产品规格</a>
                        </li>
                        <li class="{$name[0]=='产品中心'?='selected'}">
                            <a href="/product_center">
                                产品中心</a>
                        </li>
                        <li>
                            <a href="/company_profile">公司简介</a>
                        </li>
                        <li >
                            <a href="/">网站首页</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main >
            <div>
                <img class="banner" src="banner.png"/>
                <header>
                    <hgroup>
                        <h4>{$name[0]}</h4>
                        <h5>{$name[1]}</h5>
                    </hgroup>
                    <div class="router">位置: {$name[0]}</div>
                </header>
                <ul class="clear-float">
                    <li class="clear-float">
                        <article>
                            <div class="time">
                                <div>10</div>2019-10</div>
                            <h5>碳化硼在耐火材料中的应用</h5>
                            <main>碳化硼主要用于含碳耐火材料中起抗氧化作用可以使产品致密化阻止含碳耐火材料中碳的氧化同时在℃～℃的时候，与发生反应，生成的柱状晶体，
分布在耐火材料的基质和间隙里，从而降低气孔率，提高中温强度，且生成的晶体，体积膨胀，可愈合体积收缩，减少裂纹。</main>
                        </article>
                    </li>
                    <li class="clear-float">
                        <article>
                            <div class="time">
                                <div>10</div>2019-10</div>
                            <h5>碳化硼在耐火材料中的应用</h5>
                            <main>碳化硼主要用于含碳耐火材料中起抗氧化作用可以使产品致密化阻止含碳耐火材料中碳的氧化同时在℃～℃的时候，与发生反应，生成的柱状晶体，
分布在耐火材料的基质和间隙里，从而降低气孔率，提高中温强度，且生成的晶体，体积膨胀，可愈合体积收缩，减少裂纹。</main>
                        </article>
                    </li>
                    <li class="clear-float">
                        <article>
                            <div class="time">
                                <div>10</div>2019-10</div>
                            <h5>碳化硼在耐火材料中的应用</h5>
                            <main>碳化硼主要用于含碳耐火材料中起抗氧化作用可以使产品致密化阻止含碳耐火材料中碳的氧化同时在℃～℃的时候，与发生反应，生成的柱状晶体，
分布在耐火材料的基质和间隙里，从而降低气孔率，提高中温强度，且生成的晶体，体积膨胀，可愈合体积收缩，减少裂纹。</main>
                        </article>
                    </li>
                    <li class="clear-float">
                        <article>
                            <div class="time">
                                <div>10</div>2019-10</div>
                            <h5>碳化硼在耐火材料中的应用</h5>
                            <main>碳化硼主要用于含碳耐火材料中起抗氧化作用可以使产品致密化阻止含碳耐火材料中碳的氧化同时在℃～℃的时候，与发生反应，生成的柱状晶体，
分布在耐火材料的基质和间隙里，从而降低气孔率，提高中温强度，且生成的晶体，体积膨胀，可愈合体积收缩，减少裂纹。</main>
                        </article>
                    </li>
                    <li class="clear-float">
                        <article>
                            <div class="time">
                                <div>10</div>2019-10</div>
                            <h5>碳化硼在耐火材料中的应用</h5>
                            <main>碳化硼主要用于含碳耐火材料中起抗氧化作用可以使产品致密化阻止含碳耐火材料中碳的氧化同时在℃～℃的时候，与发生反应，生成的柱状晶体，
分布在耐火材料的基质和间隙里，从而降低气孔率，提高中温强度，且生成的晶体，体积膨胀，可愈合体积收缩，减少裂纹。</main>
                        </article>
                    </li>
                    <li class="clear-float">
                        <article>
                            <div class="time">
                                <div>10</div>2019-10</div>
                            <h5>碳化硼在耐火材料中的应用</h5>
                            <main>碳化硼主要用于含碳耐火材料中起抗氧化作用可以使产品致密化阻止含碳耐火材料中碳的氧化同时在℃～℃的时候，与发生反应，生成的柱状晶体，
分布在耐火材料的基质和间隙里，从而降低气孔率，提高中温强度，且生成的晶体，体积膨胀，可愈合体积收缩，减少裂纹。</main>
                        </article>
                    </li>
                    <li class="clear-float">
                        <article>
                            <div class="time">
                                <div>10</div>2019-10</div>
                            <h5>碳化硼在耐火材料中的应用</h5>
                            <main>碳化硼主要用于含碳耐火材料中起抗氧化作用可以使产品致密化阻止含碳耐火材料中碳的氧化同时在℃～℃的时候，与发生反应，生成的柱状晶体，
分布在耐火材料的基质和间隙里，从而降低气孔率，提高中温强度，且生成的晶体，体积膨胀，可愈合体积收缩，减少裂纹。</main>
                        </article>
                    </li>
                    <li class="clear-float">
                        <article>
                            <div class="time">
                                <div>10</div>2019-10</div>
                            <h5>碳化硼在耐火材料中的应用</h5>
                            <main>碳化硼主要用于含碳耐火材料中起抗氧化作用可以使产品致密化阻止含碳耐火材料中碳的氧化同时在℃～℃的时候，与发生反应，生成的柱状晶体，
分布在耐火材料的基质和间隙里，从而降低气孔率，提高中温强度，且生成的晶体，体积膨胀，可愈合体积收缩，减少裂纹。</main>
                        </article>
                    </li>
                    <li class="clear-float">
                        <article>
                            <div class="time">
                                <div>10</div>2019-10</div>
                            <h5>碳化硼在耐火材料中的应用</h5>
                            <main>碳化硼主要用于含碳耐火材料中起抗氧化作用可以使产品致密化阻止含碳耐火材料中碳的氧化同时在℃～℃的时候，与发生反应，生成的柱状晶体，
分布在耐火材料的基质和间隙里，从而降低气孔率，提高中温强度，且生成的晶体，体积膨胀，可愈合体积收缩，减少裂纹。</main>
                        </article>
                    </li>
                    <li class="clear-float">
                        <article>
                            <div class="time">
                                <div>10</div>2019-10</div>
                            <h5>碳化硼在耐火材料中的应用</h5>
                            <main>碳化硼主要用于含碳耐火材料中起抗氧化作用可以使产品致密化阻止含碳耐火材料中碳的氧化同时在℃～℃的时候，与发生反应，生成的柱状晶体，
分布在耐火材料的基质和间隙里，从而降低气孔率，提高中温强度，且生成的晶体，体积膨胀，可愈合体积收缩，减少裂纹。</main>
                        </article>
                    </li>

                </ul>
                <aside class="pagination">
                    <nav>
                        <ul>
                            <li>
                                <button>上一页</button>
                            </li>
                            <li>
                                <button>1</button>
                            </li>
                            <li>
                                <button>2</button>
                            </li>
                            <li>
                                <button>3</button>
                            </li>
                            <li>
                                <button>下一页</button>
                            </li>
                        </ul>
                    </nav>
                </aside>
            </div>
        </main>
        <footer>
            <div >
                <ul>
                    <li class="clear-float"><img src="/image/fax.png"/>
                        <span>传真：0453-6889078 </span></li>
                    <li class="clear-float"><img src="/image/qq.png"/>
                        <span>QQ号：28619270 </span></li>
                    <li class="clear-float"><img src="/image/contact.png"/>
                        <span>联系人：侯经理 </span></li>
                    <li class="clear-float"><img src="/image/website.png"/>
                        <span>网址：www.hdthp.com </span></li>
                    <li class="clear-float"><img src="/image/mail.png"/>
                        <span>邮箱：663814@qq.com ,mdjhdthp@163.com</span></li>
                </ul>

                <div>
                    <div class="mobilephone">13091859655</div>
                    <div>欢迎拨打咨询热线</div>
                    <div> 工作时间：8：00 - 22：00 </div>
                </div>

                <div class="wechat-consult">
                    <img src="/image/wechat-qrcode.png"/>
                    <div>
                        <img src="/image/wechat.png"/>
                        <p>微信咨询</p>
                        <p>微信扫一扫咨询</p>
                    </div>
                </div>
            </div>
            <div>版权所有©黑龙江省牡丹江宏达碳化硼 　技术支持：艺通网络</div>
        </footer>
    </body>
</html>