<!DOCTYPE html>
<html>
    <head>
        <base href="{$Request.domain}/{$dir}"/>
        <meta name="viewport" content="width=1920px, initial-scale=4.0">
        <link rel='stylesheet' type='text/css' href="/app.css"/>
        <link rel='stylesheet' type='text/css' href="/second.css"/>
        <link rel='stylesheet' type='text/css' href="product-center.css"/>

    </head>
    <body>
        <header>
            <div class="clear-float">
                <h1>牡丹江市宏达碳化硼有限公司</h1>
                <nav>
                    <ul class="clear-float">
                        <li>
                            <a href="/contact_us">联系我们</a>
                        </li>
                        <li class="{$name[0]=='荣誉资质'?='selected'}">
                            <a href="/honorary_qualification">荣誉资质</a>
                        </li>
                        <li class="{$name[0]=='尝试百科'?='selected'}">
                            <a href="/general_knowledge_encyclopedia">常识百科</a>
                        </li>
                        <li class="{$name[0]=='新闻中心'?='selected'}">
                            <a href="/news_center">新闻中心</a>
                        </li>
                        <li class="{$name[0]=='产品规格'?='selected'}">
                            <a href="/product_specification">产品规格</a>
                        </li>
                        <li class="{$name[0]=='产品中心'?='selected'}">
                            <a href="/product_center">
                                产品中心</a>
                        </li>
                        <li>
                            <a href="/company_profile">公司简介</a>
                        </li>
                        <li >
                            <a href="/">网站首页</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main >
            <div>
                <img class="banner" src="banner.png"/>
                <header>
                    <hgroup>
                        <h4>{$name[0]}</h4>
                        <h5>{$name[1]}</h5>
                    </hgroup>
                    <div class="router">位置: {$name[0]}</div>
                </header>
                <article class="clear-float">
                    <ul>
                        <foreach name="list" item="data">
                            <li>
                                <a href="/{$Request.path}/{$data.id}" >
                                    <figure><img src="/image/{$data.image_uri}"/>
                                        <figcaption>{$data.name}</figcaption>
                                    </figure>
                                </a>
                            </li>
                        </foreach>
                        <!--
                        <li>
                            <a href="dsdasdasd">
                                <figure><img src="product.png"/>
                                    <figcaption>10kg箱装</figcaption>
                                </figure>
                            </a>
                        </li>
                        <li>
                            <a>
                                <figure><img src="product.png"/>
                                    <figcaption>10kg箱装</figcaption>
                                </figure>
                            </a>
                        </li>
                        <li>
                            <a>
                                <figure><img src="product.png"/>
                                    <figcaption>10kg箱装</figcaption>
                                </figure>
                            </a>
                        </li>
                        <li>
                            <a>
                                <figure><img src="product.png"/>
                                    <figcaption>10kg箱装</figcaption>
                                </figure>
                            </a>
                        </li>
                        <li>
                            <a>
                                <figure><img src="product.png"/>
                                    <figcaption>10kg箱装</figcaption>
                                </figure>
                            </a>
                        </li>
                        <li>
                            <a>
                                <figure><img src="product.png"/>
                                    <figcaption>10kg箱装</figcaption>
                                </figure>
                            </a>
                        </li>
                        -->
                    </ul>
                </article>
                <aside class="pagination">
                    <nav>
                        <ul>
                            <neq name="current" value="1">
                                <li>
                                    <button onclick="location=location.pathname+'?current={$current-1}'">上一页</button>
                                </li>
                            </neq>
                            <foreach name="pages" item="data">
                                <li class="{$current==$data?'current':''}">
                                    <button onclick="location=location.pathname+'?current={$data}'">{$data}</button>
                                </li>
                            </foreach>
                            <neq name="is_last" value="true">
                                <li>
                                    <button onclick="location=location.pathname+'?current={$current+1}'"> 下一页</button>
                                </li>
                            </neq>
                        </ul>
                    </nav>
                </aside>
            </div>
        </main>
        <footer>
            <div >
                <ul>
                    <li class="clear-float"><img src="/image/fax.png"/>
                        <span>传真：0453-6889078 </span></li>
                    <li class="clear-float"><img src="/image/qq.png"/>
                        <span>QQ号：28619270 </span></li>
                    <li class="clear-float"><img src="/image/contact.png"/>
                        <span>联系人：侯经理 </span></li>
                    <li class="clear-float"><img src="/image/website.png"/>
                        <span>网址：www.hdthp.com </span></li>
                    <li class="clear-float"><img src="/image/mail.png"/>
                        <span>邮箱：663814@qq.com ,mdjhdthp@163.com</span></li>
                </ul>

                <div>
                    <div class="mobilephone">13091859655</div>
                    <div>欢迎拨打咨询热线</div>
                    <div> 工作时间：8：00 - 22：00 </div>
                </div>

                <div class="wechat-consult">
                    <img src="/image/wechat-qrcode.png"/>
                    <div>
                        <img src="/image/wechat.png"/>
                        <p>微信咨询</p>
                        <p>微信扫一扫咨询</p>
                    </div>
                </div>
            </div>
            <div>版权所有©黑龙江省牡丹江宏达碳化硼 　技术支持：艺通网络</div>
        </footer>
    </body>
</html>