body > footer dl {
  display: inline-block;
  margin: 0 auto;
}

body > header a {
  text-decoration: none;
  color: inherit;
}

body > header > button {
  display: inline-block;
  border: 0;
  background: transparent;
  padding: 0;
}

li {
  list-style: none;
}

.clear-float:after {
  content: '';
  display: block;
  clear: both;
}

h1,
body,
ul,
p {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  padding-top: 1.34rem;
  position: relative;
  padding-bottom: 4.8rem;
  width: 100%;
}

body > header {
  top: 0;
  width: 100%;
  text-align: center;
  line-height: 1.34rem;
  position: fixed;
  background: white;
  font-size: 0.41rem;
  z-index: 300;
}

body > header:after {
  height: 100%;
  vertical-align: middle;
}

body > header > button {
  vertical-align: middle;
}

body > header ul {
  width: 2rem;
  font-size: 0.3rem;
  position: absolute;
  right: 0;
  top: 1.34rem;
  background: #f2f2f2;
  line-height: 2em;
}

body > header img {
  margin-left: 0.4rem;
  width: 0.65rem;
  vertical-align: middle;
}

img.banner {
  width: 100%;
}

hgroup {
  text-align: center;
  color: #014684;
  font-size: 0.38rem;
  position: relative;
  margin: 0.65rem 0;
}

hgroup:before {
  content: '';
  background-color: black;
  opacity: 0.039;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0.38rem;
  width: 4.18rem;
  height: 0.53rem;
}

hgroup h3,
hgroup h4 {
  margin: 0.15rem 0;
  position: relative;
}

hgroup h3:after {
  content: '';
  width: 0.69rem;
  height: 0.01rem;
  background: #014684;
  position: absolute;
  bottom: -0.15rem;
  left: 50%;
  transform: translateX(-50%);
}

hgroup h4 {
  font-size: 0.2rem;
}

body > footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #014684;
  text-align: center;
  color: white;
  height: 4.8rem;
  font-size: 0.25rem;
  z-index: 300;
}

body > footer > img {
  width: 100%;
}

body > footer dl {
  margin: 0.3rem 0;
}

body > footer dl img {
  width: 0.33rem;
  max-height: 0.33rem;
}

body > footer dt,
body > footer dd {
  float: left;
}

body > footer dt:nth-of-type(2) {
  margin: 0 0.14rem 0 0.27rem;
}

body > footer dt:nth-of-type(2):after {
  content: ':';
}

aside.pagination {
  margin-top: 0.45rem;
}

aside.pagination li {
  display: inline-block;
}

aside.pagination li.selected,
aside.pagination li.current button,
aside.pagination li button:hover {
  color: white;
  background: #014684;
}

aside.pagination li button {
  border: 1px solid #e5e5e5;
  padding: 0 0.1rem;
  cursor: pointer;
  background: white;
  line-height: 0.34rem;
}
